
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

/* =============================================================================
================================== Basic Styling ============================ */
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 10px;
  color: rgb(72, 72, 72);
  background-color: rgb(248, 248, 248);
}

.main-container {
  max-width: 2000px;
  margin: auto;
}

ul,
h1,
h2,
h5 {
  margin: 0;
  padding: 0;
}

h5 {
  display: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

/*
  Fonts
*/
.main-nav-list li,
.col-left li,
.col-right li,
p,
h5 {
  font-size: 1rem;
  letter-spacing: 0.01rem;
}

h2 {
  font-size: 1.8rem;
}

.main-wrapper-col-main-paragraph {
  line-height: 1.5rem;
}

/*
  Header
  Footer
*/
.main-header,
.main-footer {
  color: rgba(222, 233, 237, 0.8);
  background-color: rgb(30, 40, 50);
}

.main-footer {
  height: 4rem;
}
.main-footer-para {
  margin: 0;
  line-height: 4rem;
  font-size: 0.9rem;
  font-weight: 300;
}

.main-nav-list li {
  font-weight: 300;
  -webkit-transition: color .3s, font-size .1s, font-weight .1s ease-out;
  transition: color .3s, font-size .1s, font-weight .1s ease-out;
}

.main-nav-list li:hover {
  color: rgb(248, 248, 248);
  font-size: 1rem;
  font-weight: 400;
}

.main-heading {
  font-size: 2.4rem;
  font-weight: 300;
}

/*
  Buttons Styling Transition
*/
.btn-box {
  border: 1px solid rgb(224,224,224);
  padding: 1rem 0;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-more,
.btn-save {
  padding: 0.7rem;
  border-radius: 2px;
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
  -webkit-transition: font-size .2s, border-radius .4s ease-in-out .2s;
  transition: font-size .2s, border-radius .4s ease-in-out .2s;
}

.btn-more:hover,
.btn-save:hover {
  font-size: 0.9rem;
  border-radius: 4px;
}

.btn-more {
  background-color: rgb(52, 160, 254);
  color: rgb(248, 248, 248);
  font-weight: 300;
}

.btn-save {
  background-color: rgb(248, 248, 248);
  color: rgb(52, 160, 254);
  border: 1px solid rgb(52, 160, 254);
}

/*
  Columns
*/

.col-left li {
  padding-bottom: 1rem;
}

h5,
.col-left li {
  color: rgb(112, 112, 112);
}

.main-wrapper-col-left-list li {
  font-size: 1.1rem;
  -webkit-transition: padding-bottom .3s, font-size .2s, color .2s;
  transition: padding-bottom .3s, font-size .2s, color .2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.main-wrapper-col-left-list li:hover {
  padding-bottom: 1.2rem;
  font-size: 1.2rem;
  color: rgb(80, 80, 80);
}

.fa-rocket {
  color: rgba(222, 233, 237, 0.8);
  margin-right: 0.4rem;
}
/* =============================================================================
================================ Mobile First =============================== */

/* =============================================================================
========================== iPhone 5 and 6 and 6+ ============================ */
/* ========================================================================== */

@media screen and (max-width: 700px) {

/*
BURGER Menu
*/
  .hamburgler-icon-wrapper {
    position: absolute;
    top: 2.5rem;
    left: 0.5rem;
    height: 0.2rem;
    width: 0.2rem;
    cursor: pointer;
    padding: 1rem;
  }

  .hamburgler-icon,
  .hamburgler-icon:before,
  .hamburgler-icon:after {
    content: '';
    position: absolute;
    border-radius: 1px;
    height: 0.2rem;
    width: 1.6rem;
    background-color: rgb(222, 233, 237);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  .hamburgler-icon {
    top: 0.55rem;
  }

  .hamburgler-icon:before {
    top: -0.55rem;
  }

  .hamburgler-icon:after {
    top: 0.55rem;
  }

  .hamburgler-active .hamburgler-icon {
    background: transparent;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .hamburgler-active .hamburgler-icon:before,
  .hamburgler-active .hamburgler-icon:after {
    top: 0;
  }

  .hamburgler-active .hamburgler-icon,
  .hamburgler-active .hamburgler-icon:before,
  .hamburgler-active .hamburgler-icon:after {
    background-color: rgb(222, 233, 237);
  }

  .hamburgler-menu {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
    /* pointer-events ??*/
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(30, 50, 56);
  }

  .hamburgler-active .hamburgler-menu {
    opacity: 1;
    /* pointer-events ??*/
    pointer-events: initial;
  }

  .hamburgler-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.1);
    transform: translate(-50%, -50%) scale(0.1);
  }

  .hamburgler-active .hamburgler-menu-list {
    -webkit-transform: translate(-50%, -50%) scale(1.6);
    transform: translate(-50%, -50%) scale(1.6);
  }

/*
Nav Styling
*/
  .main-nav-list li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2rem;
    text-transform: uppercase;
    -webkit-transition: font-size .2s ease-in-out .3s;
    transition: font-size .2s ease-in-out .3s;
  }

  .main-nav-list li:hover {
    font-size: 1.1rem;
  }

  .main-heading {
    text-align: right;
    padding: 1.5rem;
  }

/*
Main Wrapper Styling
*/
  .col-main {
    padding: 1rem 2rem 2rem;
    text-align: justify;
  }

  .main-wrapper-col-left-list li {
    border-bottom: 1px solid rgba(224,224,224, 0.2);
    padding: 0.7rem;
  }

  .main-wrapper-col-left-list li:first-child {
    padding-top: 1.5rem;
  }

  /*.main-wrapper-col-left-list li {
    font-size: 1.1rem;
    -webkit-transition: padding-bottom .3s, font-size .2s, color .2s;
    transition: padding-bottom .3s, font-size .2s, color .2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }

  .main-wrapper-col-left-list li:hover {
    padding-bottom: 1.2rem;
    font-size: 1.2rem;
    color: rgb(80, 80, 80);
  }*/

  .main-wrapper-col-right-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main-wrapper-col-right-list li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 3rem;
    line-height: 3rem;
    background-color: rgb(52, 160, 254);
    border-bottom: 2px solid rgb(248, 248, 248);
    color: rgb(248, 248, 248);
  }

  .main-wrapper-col-right-list li:last-child {
    border-bottom: none;
  }

/*
  Buttons
*/
  .btn-box {
    border: none;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

}

/* =============================================================================
==========================  Larger devices and iPad  ========================= */
/* ========================================================================== */

@media screen and (min-width: 701px) {

  .main-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main-nav-list li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.333333333%;
    flex: 1 1 33.333333333%;
    border-bottom: 1px solid rgba(222, 233, 237, 0.4);
    border-right: 1px solid rgba(222, 233, 237, 0.4);
    padding: 1.5rem;
  }

  .main-nav-list li:last-child,
  .main-nav-list li:nth-child(3) {
    border-right: none;
  }

  .main-heading {
    padding: 3rem 0 1.5rem 4rem;
    text-align: left;
  }

  .main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 1rem;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .col-main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 66.66666666%;
    flex: 1 1 66.66666666%;
    font-size: 1rem;
    text-align: left;
    padding-right: 3rem;
    padding-bottom: 1rem;
  }

  .col-left {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.33333333%;
    flex: 1 1 33.33333333%;
  }

  .col-right {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .main-wrapper-col-right-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-wrapper-col-right-list li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    background-color: rgb(52, 160, 254);
    border-right: 1px solid rgb(248, 248, 248);
    color: rgb(248, 248, 248);
    height: 3.5rem;
    line-height: 3.5rem;
  }

  .main-wrapper-col-right-list li:last-child {
    border-right: none;
  }

/*
  Buttons margin
*/
  .btn-more {
    margin-left: 1.2rem;
    margin-right: 0.4rem;
  }

}

/* =============================================================================
==================================  Desktop  ================================ */
/* ========================================================================== */
@media screen and (min-width: 1000px) {

  h5 {
    display: unset;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .main-nav-list li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .main-nav-list li {
    padding: 1.5rem;
  }


  .main-nav-list li:nth-child(3) {
    border-right: 1px solid rgba(222, 233, 237, 0.4);
  }

  .main-heading {
    padding: 3rem 0 1rem 2rem;
    font-size: 3rem;
  }

  .main-nav-list li,
  .col-left li,
  .col-right li,
  p {
    font-size: 1.1rem;
    line-height: 2.5rem;
  }

  .main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem;
  }

  .col-main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 65%;
            flex: 1 1 65%;
  }

  .col-left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
  }

  .col-right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 15%;
            flex: 1 1 15%;
    border-left: 2px solid rgb(224,224,224);
    padding-left: 1rem;
  }

  .main-wrapper-col-right-list li {
    color: rgb(52, 160, 254);
    background-color: inherit;
  }

  .main-wrapper-col-left-list,
  .main-wrapper-col-right-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  /*
  sticky footer ??
  */
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

}

/* =============================================================================
=========================   Desktop larger than 1300px ====================== */
/* ========================================================================== */
@media screen and (min-width: 1300px) {

  .main-wrapper {
    padding: 5rem 7rem;
  }

  .main-heading {
    padding: 5rem 0 2rem 4rem;
  }

  .main-nav-list li,
  .col-left li,
  .col-right li {
    font-size: 1.3rem;
  }

  .main-nav-list li {
    padding: 2rem;
  }

  .main-wrapper-col-main-paragraph p {
    line-height: 2.4rem;
    font-size: 1.3rem;
  }

  .main-wrapper {
    padding: 4rem;
  }


}
