@import url('https://fonts.googleapis.com/css?family=Lato');


/* =============================================================================
================================== Basic Styling ============================ */
* {
  box-sizing: border-box;
}

/*html,
body,
.container,
.main-wrapper,
header,
ul {
  margin-top: 0;
}*/

body {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;


}
.main-wrapper {
  /*margin: 0 auto;
  width: 90%;*/
}

ul {
  padding-left: 0;
  margin-top: 0;  /* removes white spave at the top */

}

li {
  list-style: none;
  text-transform: uppercase;
  padding: 0.5rem 0 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-footer p {
  margin: 0;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: 0.7rem;
}

p {
  font-size: 1rem;
  padding: 1rem;
}

.main-nav li,
.col-2 li,
h5 {
  font-size: 0.9rem;
}

.col-3 li {
  font-size: 1rem;
}

h2 {
  font-size: 1.4rem;
}

h2,
h5 {
  margin: 0;
}

/* =============================================================================
==================================== Colours ================================ */

body {
  color: rgb(56, 56, 56);
  background-color: rgb(255, 255, 255);
}

.main-header,
.main-footer {
  color: rgb(176, 190, 197);
  background-color: rgb(30, 50, 56);
}

.col-3 li {
  color: rgb(21, 145, 254);
}

h5,
.col-2 li {
  color: rgb(112, 112, 112);
}


/* =============================================================================
================================== Mobile First ============================= */
