@import url('https://fonts.googleapis.com/css?family=Lato');


/* =============================================================================
================================== Basic Styling ============================ */
* {
  box-sizing: border-box;
}

html,
body,
header,
main,
ul {
  margin-top: 0;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  color: rgb(32, 35, 37);
  text-align: center;
  margin: 0 auto;
}

.main-header,
.main-footer {
  background-color: rgb(30, 50, 56);
  color: rgb(176, 190, 197);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(255, 255, 255);
}

.main-footer p {
  margin: 0;
  padding-bottom: 1rem;
}
